nav {
     background-color: #3ebfc8;
    padding: 1.4rem;
    color: #fff;
    text-align: right;
  }
    
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 2rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }

  nav ul li a:hover {
    color: #ccc;
  }
  .name {
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0;
  }